#container {
  width: 1000px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.hour {
  width: 3%;
  background: aqua;
  border: solid 1px #000;
  text-align: center;
}

